<div class="container">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="col">Service Name</th>
          <td>{{ data.serviceName }}</td>
        </tr>
        <tr>
          <th scope="col">Current Task</th>
          <td>{{ data.currentTask }}</td>
        </tr>
        <tr>
          <th scope="col">Application Reference Number</th>
          <td>{{ data.appRefNo }}</td>
        </tr>
        <tr>
          <th scope="col">Application Received Date</th>
          <td>{{ data.appReceivedDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  