.profile-icon {
    /* font-size: 1.5rem; */
    cursor: pointer;
    margin-right: 1mm;
  }
  
  .welcome-message {
    cursor: pointer;
  }

  .navbar{
    border-bottom: 1px solid #000;
    background-color: rgb(145, 150, 152);
  }

  .navbar-brand {
    /* Adjust margin or padding for left alignment */
    margin-left: 1rem;  /* Example: Margin for left alignment */
  }

  .navbar-ending{
    margin-right: 1rem;  /* Example: Margin for right alignment */
  }