<div class="banner">
    <span>ATTACH ENCLOSURE(S)</span>
</div>

<div class="outer-container">
    <div class="form-container">
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Type of Enclosure</p>
            </div>
            <div class="col-lg-4">
                <p class="required">Enclosure Document</p>
            </div>
            <div class="col-lg-4">
                <p class="required">File Reference</p>
            </div>
        </div>
    </div>

    <form [formGroup]="attachmentsForm">
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Layout as per CG Bhumi Vikas Niyam 1984, Development Plan's provisions and Zoning
                    Regulations (Softcopy) with Khasra Superimpose
                </p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="layout" class="left">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="layout" formControlName="layout"
                        aria-describedby="layout">
                    <button class="btn btn-primary" type="button" id="layoutIP">Scan</button>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Registration Form and declaration by Engineer/Architect for designing Layout</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="declaration" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="declaration" formControlName="declaration"
                        aria-describedby="declaration" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="declarationIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Survey Map</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="surveyMap" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="surveyMap" formControlName="surveyMap"
                        aria-describedby="surveyMap" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="surveyMapIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Satelite Map(from Bhuvan or any other agency)
                </p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="satelliteMap" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="satelliteMap" formControlName="satelliteMap"
                        aria-describedby="satelliteMap" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="satelliteMapIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p>Landuse Certificate</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="landUse" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="landUse" formControlName="landUse"
                        aria-describedby="landUse" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="landUseIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p>Allotment letter of government lab between road and Proposed Site </p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="allotLetter" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="allotLetter" formControlName="allotLetter"
                        aria-describedby="allotLetter" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="allotLetterIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p>Parking Plan</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="parkingPlan" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="parkingPlan" formControlName="parkingPlan"
                        aria-describedby="parkingPlan" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="parkingPlanIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p>Soil Test Report</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="soilTestReport" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="soilTestReport" formControlName="soilTestReport"
                        aria-describedby="soilTestReport" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="soilTestReportIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Location Map</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="locationMap" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="locationMap" formControlName="locationMap"
                        aria-describedby="locationMap" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="locationMapIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p>Structural Stability report as per Rule 17</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="structuralStability" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="structuralStability"
                        formControlName="structuralStability" aria-describedby="structuralStability"
                        aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="structuralStabilityIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Location plan of proposed EWS land (With Land Details)</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="EWSlandLocation" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="EWSlandLocation" formControlName="EWSlandLocation"
                        aria-describedby="EWSlandLocation" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="EWSlandLocationIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Service Plan</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="servicePlan" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="servicePlan" formControlName="servicePlan"
                        aria-describedby="servicePlan" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="servicePlanIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Partnership Deed/MOA of a Company</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="partnershipDeed" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="partnershipDeed" formControlName="partnershipDeed"
                        aria-describedby="partnershipDeed" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="partnershipDeedIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p>Affidavit in prescribed format for cases in which fees is to be deposited in "Services to the poor
                    fund" account</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="affidavitFormat" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="affidavitFormat" formControlName="affidavitFormat"
                        aria-describedby="affidavitFormat" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="affidavitFormatIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Colonizer Registration Certificate</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="colonizerRegistration" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="colonizerRegistration"
                        formControlName="colonizerRegistration" aria-describedby="colonizerRegistration"
                        aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="colonizerRegistrationIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Colonizer Net Worth for Development of Colony</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="colonizerNetWorth" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="colonizerNetWorth" formControlName="colonizerNetWorth"
                        aria-describedby="colonizerNetWorth" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="colonizerNetWorthIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p>Any Other Documents</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="otherDocuments" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="otherDocuments" formControlName="otherDocuments"
                        aria-describedby="otherDocuments" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="otherDocumentsIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Khasra Samviliyan-Aggregation all Khasras for colony into a single Khasra (khasra
                    integration order)</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="KhasraSamviliyan" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="KhasraSamviliyan" formControlName="KhasraSamviliyan"
                        aria-describedby="KhasraSamviliyan" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="KhasraSamviliyanIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Seemankan of Integrated Khasra - Signed by Tehsildar alongwith Total Station Survey
                </p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="SeemankanIntegratedKhasra" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="SeemankanIntegratedKhasra"
                        formControlName="SeemankanIntegratedKhasra" aria-describedby="SeemankanIntegratedKhasra"
                        aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="SeemankanIntegratedKhasraIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">B1 P2 Khasra Map</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="B1P2KhasraMap" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="B1P2KhasraMap" formControlName="B1P2KhasraMap"
                        aria-describedby="B1P2KhasraMap" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="B1P2KhasraMap">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Registry Documents Details of all khasras used to make integrated khasra if will
                    inheritance then mutation order</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="RegistryDocuments" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="RegistryDocuments" formControlName="RegistryDocuments"
                        aria-describedby="RegistryDocuments" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="RegistryDocumentsIP">Scan</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="required">Panchshala Khasra of last 12 years for all khasras applied for diversion</p>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="flex-container">
                        <select id="PanchshalaKhasra" class="right">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="file" class="form-control" id="PanchshalaKhasra" formControlName="PanchshalaKhasra"
                        aria-describedby="PanchshalaKhasra" aria-label="Upload">
                    <button class="btn btn-primary" type="button" id="PanchshalaKhasraIP">Scan</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="formA-container">
        <form [formGroup]="attachmentsForm">
            <span class="bannerISW">Additional Details</span>
            <div class="form-group">
                <div class="container">
                    <label class="required">Apply to the Office</label>
                    <div>
                        <input class="wide-input" type="text" id="office" formControlName="office">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="button-container">
        <div class="button-bottom">
            <button type="button" class="btn btn-warning mr-2">Save Draft</button>
            <a type="submit" role="button" class="btn btn-success mr-2" href="/enclosureList">Submit</a>
            <button type="button" class="btn btn-primary">Reset</button>
            <button type="button" class="btn btn-danger mr-2">Cancel</button>
        </div>
    </div>
</div>