.search-box {
    border: 2px solid #ddd;
    border-top: 4px solid #000;
    border-radius: 4px;
    padding: 16px;
    margin: 10px;
  }
  
  .search-box__heading {
    margin-bottom: 16px;
  }
  
  .search-box__heading__text {
    font-size: 18px;
    font-weight: bold;
  }
  
  .search-box__filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  
  .search-box__filter {
    margin-right: 16px;
    flex: 1 1 200px;
  }
  
  .search-box__filter label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
  }
  
  .search-box__button {
    text-align: right;
    margin-top: 16px;
  }
  
  .required::after {
    content: " *";
    color: red;
  }

  .left {
    flex: 1;
  }
  
  .right {
    flex: 1;
    text-align: right;
  }

  .table-bordered{
    border: 1.5px solid #000;
  }

  .button-container {
    border: 1px solid #ccc; /* Border for the container */
    border-top: 3px solid rgb(84, 164, 212);
    border-radius: 7px;
    padding: 10px;          /* Padding inside the container */
    display: flex;          /* Use flexbox for layout */
    justify-content: flex-end; /* Align items to the right */
  }
  
  .button-bottom {
    display: flex;          /* Flexbox for button layout */
    gap: 10px;              /* Space between buttons */
  }