<div class="container">
  <form [formGroup]="finalColDevForm" (ngSubmit)="onSubmit()" class="form-c">
      <h5>Final Colony Development Permission</h5>
      <div class="noc-application">
          <div class="noc-application__heading">
              <span class="bannerISW">ACTION DETAILS</span>
          </div>
          <hr class="dotted-line">
          <div class="noc-application__content">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="noc-application__details">
                          <div class="noc-application__details__label required">ACTIONS TO BE TAKEN</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="noc-application__details">
                          <div class="radio-buttons">
                              <input type="radio" id="reject" formControlName="decision" name="decision" value="reject">
                              <label for="reject">Reject</label>
                          </div>
                          <div class="radio-buttons">
                              <input type="radio" id="approve" formControlName="decision" name="decision" value="approve">
                              <label for="approve">Approval</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <div class="noc-application__details">
                          <div class="noc-application__details__label">Remarks</div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="noc-application__details">
                          <input type="text" id="remarks" formControlName="remarks" name="remarks" class="custom-input">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="button-container">
          <div class="button-bottom">
              <button type="submit" class="btn btn-success mr-2">Submit</button>
              <button type="button" class="btn btn-primary" (click)="onReset()">Reset</button>
              <button type="button" class="btn btn-danger mr-2" (click)="onCancel()">Cancel</button>
          </div>
      </div>
  </form>
</div>
