<div class="container">
    <form class="form-c">
        <h5>Issue Diversion Certificate Urban</h5>
    <div class="noc-application">
        <div class="noc-application__heading">
          <span class="bannerISW">ACTION DETAILS</span>
        </div>
        <hr class="dotted-line">

        <div class="noc-application__content">
          <div class="row">
            <div class="col-lg-6">
              <div class="noc-application__details">
                <div class="noc-application__details__label required">ACTIONS TO BE TAKEN</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="noc-application__details">
                <input type="radio" id="forward" name="action" value="forward" >
                <label for="forward">Forward</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="noc-application__details">
                <div class="noc-application__details__label required">SELECT OFFICIALS FOR PROVISIONAL COLONY DEVELOPMENT APPROVAL</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="noc-application__details">
                <input type="checkbox" id="TownP-1" name="official" value="TownP-1">
                <label for="TownP-1">(Town planner)</label><br>
                <input type="checkbox" id="CMO-1" name="official" value="CMO-1">
                <label for="CMO-1">(Chief Municipal Officer)</label><br>
                <input type="checkbox" id="CMO-2" name="official" value="CMO-2">
                <label for="CMO-2">(Chief Municipal Officer)</label><br>
                <input type="checkbox" id="CMO-3" name="official" value="CMO-3">
                <label for="CMO-3">(Chief Municipal Officer)</label><br>
                <input type="checkbox" id="TownP-2" name="official" value="TownP-2">
                <label for="TownP-2">(Town planner)</label><br>
                <input type="checkbox" id="CMO-4" name="official" value="CMO-4">
                <label for="CMO-4">(Chief Municipal Officer)</label><br>
                <input type="checkbox" id="CMO-5" name="official" value="CMO-5">
                <label for="CMO-5">(Chief Municipal Officer)</label><br>
                <input type="checkbox" id="CMO-6" name="official" value="CMO-6">
                <label for="CMO-6">(Chief Municipal Officer)</label><br>
                <input type="checkbox" id="CMO-7" name="official" value="CMO-7">
                <label for="CMO-7">(Chief Municipal Officer)</label><br>
                <input type="checkbox" id="TownP-3" name="official" value="TownP-3">
                <label for="TownP-3">(Town planner)</label><br>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="noc-application__details">
                <div class="noc-application__details__label">Remarks</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="noc-application__details">
                <input type="text" id="remarks" name="remarks" class="custom-input">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="button-container">
        <div class="button-bottom">
          <button type="submit" class="btn btn-success mr-2">Submit</button>
          <button type="button" class="btn btn-primary">Reset</button>
          <button type="button" class="btn btn-danger mr-2">Cancel</button>
          <button type="button" class="btn btn-warning mr-2">Back to Inbox</button>
        </div>
      </div>  
</div>