<nav class="sidebar">
  <div class="text">
    Menu
  </div>
  <ul class="main_side">
    <li class="nav-item">
      <a href="#" class="nav-link">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#account-collapse1" aria-expanded="false">
        <i class="bi bi-envelope"></i>
        Manage Profile
        <i class="bi bi-caret-down"></i>
      </a>
      <div class="collapse" id="account-collapse1">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
          <li>
            <i class="bi bi-caret-right-fill"></i>
            <a href="#" class="text-white">View Profile</a>
          </li>
          <li>
            <i class="bi bi-caret-right-fill"></i>
            <a href="#" class="text-white">Edit Profile</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#account-collapse2" aria-expanded="false">
        <i class="bi bi-envelope"></i>
        View Status of Application
        <i class="bi bi-caret-down"></i>
      </a>
      <div class="collapse" id="account-collapse2">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
          <li>
            <i class="bi bi-caret-right-fill"></i>
            <a class="text-white">Track Application Status</a>
          </li>
          <li>
            <i class="bi bi-caret-right-fill"></i>
            <a href="#" class="text-white">View Incomplete Application</a>
          </li>
          <li>
            <i class="bi bi-caret-right-fill"></i>
            <a href="#" class="text-white">Revalidate Payment</a>
          </li>
          <li>
            <i class="bi bi-caret-right-fill"></i>
            <a href="#" class="text-white">Modify Submission</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi bi-chat-right-fill"></i>
        Submit Feedback
      </a>
    </li>
  </ul>
  <hr>
</nav>




<!-- <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-container">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Menu</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <div class="text-white dropdown" data-bs-toggle="collapse" data-bs-target="#account-collapse1" aria-expanded="false">
          <i class="bi bi-envelope"></i>
          Manage Profile
          <i class="bi bi-caret-down"></i>
        </div>
        <div class="collapse" id="account-collapse1">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
            <li>
              <i class="bi bi-caret-right-fill"></i>
              <a class="text-white">View Profile</a>
            </li>
            <li>
              <i class="bi bi-caret-right-fill"></i>
              <a href="#" class="text-white">Edit Profile</a>
            </li>
          </ul>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <div class="text-white dropdown" data-bs-toggle="collapse" data-bs-target="#account-collapse2" aria-expanded="false">
          <i class="bi bi-envelope"></i>
          View Status of Application
          <i class="bi bi-caret-down"></i>
        </div>
        <div class="collapse" id="account-collapse2">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
            <li>
              <i class="bi bi-caret-right-fill"></i>
              <a class="text-white">Track Application Status</a>
            </li>
            <li>
              <i class="bi bi-caret-right-fill"></i>
              <a href="#" class="text-white">View Incomplete Application</a>
            </li>
            <li>
              <i class="bi bi-caret-right-fill"></i>
              <a href="#" class="text-white">Revalidate Payment</a>
            </li>
            <li>
              <i class="bi bi-caret-right-fill"></i>
              <a href="#" class="text-white">Modify Submission</a>
            </li>
          </ul>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a >
        <i class="bi bi-chat-right-fill"></i>
        Submit Feedback
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle" routerLink="/dashboard"></i>
      <span class="ms-2">Welcome, {{ username }}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="/dashboard">Profile</a></li>
    </ul>
  </div>
</div> -->



<!-- <body>
  <div class="wrapper">
    <aside id="sidebar">
      <div class="d-flex">
        <button class="toggle-btn" type="button">
          <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
          <a href="#">Menu</a>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="lni lni-user"></i>
            <span>Profile</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="lni lni-agenda"></i>
            <span>Task</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
            <i class="lni lni-protection"></i>
            <span>Auth</span>
          </a>
          <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Login</a>
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link">Register</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
            <i class="lni lni-layout"></i>
            <span>Multi Level</span>
          </a>
          <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                Two Links
              </a>
              <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Link 1</a>
                </li>
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Link 2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="lni lni-popup"></i>
            <span>Notification</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="lni lni-cog"></i>
            <span>Setting</span>
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
          <i class="lni lni-exit"></i>
          <span>Logout</span>
        </a>
      </div>
    </aside>
  </div>
  
</body> -->