.form-c {
    background-color: rgb(254, 224, 224);
    padding: 10px;
    border-radius: 7px; /* Adds rounded corners */
    margin: 10px 0; /* Adds some space between form containers */
    border: 0.7px solid gray;
  }

  .container{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .accordion-item{
    background-color: rgb(238, 238, 238);
  }

  .accordion-button{
    font-size: large;
    font-weight: bold;
    background-color: rgb(212, 212, 212);
  }