<body>
  <div class="outer-container">
    <div class="container">
      <header class="header">
        <div class="logo">
          <i class="bi bi-buildings logo-icon"></i>
          <div class="logo-text">CAS</div>
        </div>
        <h1><strong>Coloniser Approval System</strong></h1>
      </header>
      <div class="buttons">
        <a routerLink="/login" class="btn btn-primary btn-lg">Login</a>
        <a routerLink="/signup" class="btn btn-secondary btn-lg">Register</a>
      </div>
    </div>
  </div>
</body>
