/* Custom CSS for Key-Value Pairs */
.container {
    margin-bottom: 20px;
    border: 1px solid #2e2e2e;
    font-family: sans-serif;
    background-color:whitesmoke;
  }
  
  h4 {
    margin-bottom: 15px;
    color: rgb(33, 37, 41);
  }
  
  .row {
    margin-bottom: 10px;
  }

  .col-4 {
    margin-left: 20px;
  }
  
  .outer-container {
    background-color: rgb(227, 230, 239);
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
  }

  .form-container {
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px 0; /* Adds some space between form containers */
  }

  /* Button container styling */
  button{
    margin-right: 5px;
  }

  .button-container {
    border: 1px solid #ccc; /* Border for the container */
    border-top: 3px solid rgb(84, 164, 212);
    border-radius: 7px;
    padding: 10px;          /* Padding inside the container */
    display: flex;          /* Use flexbox for layout */
    justify-content: flex-end; /* Align items to the right */
  }
  .button-bottom {
    display: flex;          /* Flexbox for button layout */
    gap: 10px;              /* Space between buttons */
  } 