<div class="container">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="col">Service Name</th>
        <td>{{ data.serviceName }}</td>
      </tr>
      <tr>
        <th scope="col">Current Task</th>
        <td>{{ data.currentTask }}</td>
      </tr>
      <tr>
        <th scope="col">Application Reference Number</th>
        <td>{{ data.appRefNo }}</td>
      </tr>
      <tr>
        <th scope="col">Application Received Date</th>
        <td>{{ data.appReceivedDate }}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
    
  <form class="form-c">
      <h5>EWS Verification-Rural</h5>
  <div class="noc-application">
      <div class="noc-application__heading">
        <span class="bannerISW">Application details</span>
      </div>
      <hr class="dotted-line">

      <div class="noc-application__content">
        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">ACTIONS TO BE TAKEN</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="radio-buttons">
              <input type="radio" id="reject" name="action" value="reject" >
              <label for="reject">Reject</label>
              <input type="radio" id="forward" name="action" value="forward" >
              <label for="forward">Forward</label>
            </div>
          </div>
        </div>
      </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT User for NOC application to Revenue</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="SDM-DURG" name="official" value="SDM-DURG">
              <label for="SDM-DURG">SDM DURG (Deputy Collector / SDM)</label><br>
              <input type="checkbox" id="SDM-Dhamdha" name="official" value="SDM-Dhamdha">
              <label for="SDM-Dhamdha">SDM Dhamdha (Deputy Collector / SDM)</label><br>
              <input type="checkbox" id="SDM-Patan" name="official" value="SDM-Patan">
              <label for="SDM-Patan">SDM Patan (Deputy Collector / SDM)</label><br>
              <input type="checkbox" id="SDM-Bhilai" name="official" value="SDM-Bhilai">
              <label for="SDM-Bhilai">SDM Bhilai (Deputy Collector / SDM)</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT User for NOC application to PHE</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="PHE" name="official" value="PHE">
              <label for="PHE">Executive Engineer (Executive Engineer)</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT User for NOC application to PWD</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="Exec-Eng" name="official" value="Exec-Eng">
              <label for="Exec-Eng">Executive Engineer (Executive Engineer)</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT User for NOC application to CSEB</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="Exec-Eng" name="official" value="Exec-Eng">
              <label for="Exec-Eng">Executive Engineer (Executive Engineer)</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT User for NOC application to CESB</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="Exec-Eng" name="official" value="Exec-Eng">
              <label for="Exec-Eng">Regional Officer (Regional Officer)</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT User for NOC application to Forest</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="Exec-Eng" name="official" value="Exec-Eng">
              <label for="Exec-Eng">DFO (District Forest Officer)</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT Officials for NOC application to PMGSY</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="Exec-Eng" name="official" value="Exec-Eng">
              <label for="Exec-Eng">Executive Engineer (Executive Engineer)</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT Officials for NOC application to NHAI</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="Exec-Eng" name="official" value="Exec-Eng">
              <label for="Exec-Eng">Deputy Manager (Deputy Manager)</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT Officials for EWS verifiacation Rural</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="SDM-DURG" name="official" value="SDM-DURG">
              <label for="SDM-DURG">SDM DURG (Deputy Collector / SDM)</label><br>
              <input type="checkbox" id="SDM-Dhamdha" name="official" value="SDM-Dhamdha">
              <label for="SDM-Dhamdha">SDM Dhamdha (Deputy Collector / SDM)</label><br>
              <input type="checkbox" id="SDM-Patan" name="official" value="SDM-Patan">
              <label for="SDM-Patan">SDM Patan (Deputy Collector / SDM)</label><br>
              <input type="checkbox" id="SDM-Bhilai" name="official" value="SDM-Bhilai">
              <label for="SDM-Bhilai">SDM Bhilai (Deputy Collector / SDM)</label>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label required">SELECT Officials for EWS verifiacation Urban</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="checkbox" id="SDM-DURG" name="official" value="SDM-DURG">
              <label for="SDM-DURG">Town Planner (Town Planner)</label><br>
              <input type="checkbox" id="SDM-Dhamdha" name="official" value="SDM-Dhamdha">
              <label for="SDM-Dhamdha">CMO D1 (Chief Municipal Officer)</label><br>
              <input type="checkbox" id="SDM-Patan" name="official" value="SDM-Patan">
              <label for="SDM-Patan">CMO D2 (Chief Municipal Officer)</label><br>
              <input type="checkbox" id="SDM-Bhilai" name="official" value="SDM-Bhilai">
              <label for="SDM-Bhilai">CMO D3 (Chief Municipal Officer)</label><br>
              <input type="checkbox" id="SDM-DURG" name="official" value="SDM-DURG">
              <label for="SDM-DURG">Town Planner (Town Planner)</label><br>
              <input type="checkbox" id="SDM-Bhilai" name="official" value="SDM-Bhilai">
              <label for="SDM-Bhilai">CMO D4 (Chief Municipal Officer)</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="noc-application__details">
              <div class="noc-application__details__label">Remarks</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="noc-application__details">
              <input type="text" id="remarks" name="remarks" class="custom-input">
            </div>
          </div>
        </div>
      
    </div>
  </div>
  </form>
  <div class="button-container">
      <div class="button-bottom">
        <button type="button" class="btn btn-warning mr-2">Save Draft</button>
        <button type="submit" class="btn btn-success mr-2">Submit</button>
        <a class="btn btn-primary" href="/officer2" role="button">Forward</a>
        <button type="button" class="btn btn-primary">Reset</button>
        <button type="button" class="btn btn-danger mr-2">Cancel</button>
      </div>
    </div>  
</div>

  