.container {
  text-align: center;
}

.table {
  margin-top: 20px;
}

h2 {
  margin-bottom: 20px;
}

.personal-details-box {
  border: 1px solid #ccc;
  border-bottom: 3px solid red; /* Red bottom border */
  border-radius: 5px;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px; /* Adjust as necessary */
  background-color: white; /* Optional, for better visual separation */
  text-align: left;
}

.personal-details-box h3 {
  margin-top: 0;
  font-weight: bold;
  text-align: center; /* Center the heading */
}

.text-center {
  text-align: center;
}

.lightt{
  background-color: rgb(227, 230, 239);
}