body {
  margin-top: 50px;
}

form {
  max-width: 400px;
  margin: auto;
}

label {
  margin-bottom: 5px;
}


input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #363636;
  border-radius: 4px;
}

/* General button styles */
button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styling for success and error messages */
.success-message, .error-message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.success-message {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.error-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* Add some spacing between the dropdown menu and the Login button */
.dropdown-wrapper {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

/* Center the Login button within the container */
.login-button {
  display: block;
  margin: 0 auto;
}

/* Center the form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.btn-outline-secondary {
  padding: 5px 10px;
}

/* Add flex display to the form-group for aligning the label and select */
.form-group.d-flex {
  display: flex;
  align-items: center;
}

.form-group .mr-2 {
  margin-right: 10px;
}

.form-group select {
  flex: 1;
  border: 1px solid #363636;
  border-radius: 4px;
  padding: 8px;
}

.btn-dark {
  padding: 2.7px 10px;
}

/* Adjust the font size of the eye icon */
.btn-dark .bi {
  font-size: 1.5em; /* Increase the font size as needed */
}
