form {
  max-width: 400px;
  margin: auto;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #363636;
  border-radius: 4px;
}

/* General button styles */
button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styling for success and error messages */
.success-message, .error-message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.success-message {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.error-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* Add some spacing between the dropdown menu and the Login button */
.dropdown-wrapper {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

/* Center the Login button within the container */
.login-button {
  display: block;
  margin: 0 auto;
}

/* Center the form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.btn-outline-secondary {
  padding: 5px 10px;
}

/* Add flex display to the form-group for aligning the label and select */
.d-flex {
  display: flex;
  align-items: center;
}

.mr-2 {
  margin-right: 10px;
  font-size: large;
}

select {
  flex: 1;
  border: 1px solid #363636;
  border-radius: 4px;
  padding: 8px;
}

.btn-dark {
  padding: 2.7px 10px;
}

/* Adjust the font size of the eye icon */
.btn-dark .bi {
  font-size: 1.5em; /* Increase the font size as needed */
}

.outer-container {
  background-color: rgb(227, 230, 239);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  padding-top: 50px; /* Adjust the padding-top as needed to reduce the gap */
  padding-bottom: 50px; 
  height: 100vh; /* Vertically center the container */
}

.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.custom-width {
  max-width: 356px; /* Adjust this value as needed */
  width: 100%;
}

.form-select {
  width: 200px; /* Reset width to auto */
  /* min-width: 200px;  Set a minimum width */
  margin-left: 100px;
}