<div class="banner">
  <span>Chhattisgarh Automated Workflow and Approval System</span>
</div>

<div class="container applying-form-container">
  <div class="form-container">
    <form [formGroup]="applyingForm">
      <span class="bannerISW">Integrated Single Window System Approval</span>
      <hr class="dotted-line">

      <div class="form-group">
        <div class="flex-container">
          <label for="district1" class="left required">In which district is colony development permission sought?</label>
          <select id="district1" formControlName="selectedDistrict" class="left" required>
            <option value="" disabled selected>Please Select</option>
            <option *ngFor="let district of districts" [value]="district.toLowerCase()">
              {{ district }}
            </option>
          </select>
        </div>
        <div *ngIf="applyingForm.get('selectedDistrict')?.invalid && (applyingForm.get('selectedDistrict')?.dirty || applyingForm.get('selectedDistrict')?.touched)" class="error-message">
          <span style="color: red;">This Field is Required.</span>
        </div>
      </div>
      
      <div class="form-group">
        <div class="flex-container">
          <label for="area" class="left required">For which area is permission sought?</label>
          <div class="radio-buttons right">
            <input type="radio" id="rural" formControlName="area" [value]="'rural'">
            <label for="rural">ग्रामीण क्षेत्र (Rural Area)</label>
            <input type="radio" id="urban" formControlName="area" [value]="'urban'">
            <label for="urban">शहरी क्षेत्र (Urban Area)</label>
          </div>
        </div>
        <div *ngIf="applyingForm.get('area')?.invalid && (applyingForm.get('area')?.dirty || applyingForm.get('area')?.touched)" class="error-message">
          <span style="color: red;">This Field is Required.</span>
        </div>
      </div>

      <div class="form-group" *ngIf="applyingForm.get('area')?.value === 'urban'">
        <div class="flex-container">
          <label for="body" class="left required">In an urban area, which body should be approached for colony <br>development permission?</label>
          <div class="radio-buttons right">
            <input type="radio" id="Corporation" formControlName="body" [value]="'Corporation'">
            <label for="Corporation">नगर निगम (Municipal Corporation)</label>
            <input type="radio" id="Council" formControlName="body" [value]="'Council'">
            <label for="Council">नगर पालिका (Municipal Council)</label>
            <input type="radio" id="Jury" formControlName="body" [value]="'Jury'">
            <label for="Jury">नगर पंचायत (Municipal Jury)</label>
          </div>
        </div>
      </div>

      <!-- Dynamic options based on selected district and body -->
      <ng-container *ngIf="applyingForm.get('selectedDistrict')?.value && applyingForm.get('area')?.value === 'urban'">
        <div *ngIf="applyingForm.get('body')?.enabled">
          <!-- Bilaspur options -->
          <div *ngIf="applyingForm.get('selectedDistrict')?.value === 'bilaspur'">
            <div *ngIf="applyingForm.get('body')?.value === 'Corporation'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCorporation" class="left">Choose the <b>Municipal Corporation</b></label>
                  <select id="choosingCorporation" formControlName="choosingCorporation" class="left" name="forBilaspur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Bilaspur">Bilaspur</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Council'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCouncil" class="left">Choose the <b>Municipal Council</b></label>
                  <select id="choosingCouncil" formControlName="choosingCouncil" class="left" name="forBilaspur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Ratanpur">Ratanpur</option>
                    <option value="Takhatpur">Takhatpur</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Jury'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingJury" class="left">Choose the <b>Municipal Jury</b></label>
                  <select id="choosingJury" formControlName="choosingJury" class="left" name="forBilaspur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Bilha">Bilha</option>
                    <option value="Bodri">Bodri</option>
                    <option value="Gaurella">Gaurella</option>
                    <option value="Kota">Kota</option>
                    <option value="Malhar">Malhar</option>
                    <option value="Pendra">Pendra</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Durg options -->
          <div *ngIf="applyingForm.get('selectedDistrict')?.value === 'durg'">
            <div *ngIf="applyingForm.get('body')?.value === 'Corporation'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCorporation" class="left">Choose the <b>Municipal Corporation</b></label>
                  <select id="choosingCorporation" formControlName="choosingCorporation" class="left" name="forDurg">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Bhilai">Bhilai</option>
                    <option value="Bhilai Charoda">Bhilai Charoda</option>
                    <option value="Durg">Durg</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Council'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCouncil" class="left">Choose the <b>Municipal Council</b></label>
                  <select id="choosingCouncil" formControlName="choosingCouncil" class="left" name="forDurg">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Ahiwara">Ahiwara</option>
                    <option value="Jamul">Jamul</option>
                    <option value="Kumhari">Kumhari</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Jury'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingJury" class="left">Choose the <b>Municipal Jury</b></label>
                  <select id="choosingJury" formControlName="choosingJury" class="left" name="forDurg">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Dhamdha">Dhamdha</option>
                    <option value="Patan">Patan</option>
                    <option value="Utai">Utai</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Raipur options -->
          <div *ngIf="applyingForm.get('selectedDistrict')?.value === 'raipur'">
            <div *ngIf="applyingForm.get('body')?.value === 'Corporation'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCorporation" class="left">Choose the <b>Municipal Corporation</b></label>
                  <select id="choosingCorporation" formControlName="choosingCorporation" class="left" name="forRaipur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Birgaon">Birgaon</option>
                    <option value="Raipur">Raipur</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Council'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCouncil" class="left">Choose the <b>Municipal Council</b></label>
                  <select id="choosingCouncil" formControlName="choosingCouncil" class="left" name="forRaipur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Arang">Arang</option>
                    <option value="Gobra Nawapara">Gobra Nawapara</option>
                    <option value="Tilda Newra">Tilda Newra</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Jury'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingJury" class="left">Choose the <b>Municipal Jury</b></label>
                  <select id="choosingJury" formControlName="choosingJury" class="left" name="forRaipur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Abhanpur">Abhanpur</option>
                    <option value="Kharora">Kharora</option>
                    <option value="Kurra">Kurra</option>
                    <option value="Mana Camp">Mana Camp</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      

      <div class="form-group">
        <p class="left required"><b>Note - If the khasra is not integrated, please get it integrated from the revenue department before applying for colony approval.</b></p>
      </div>

      <div class="form-group">
        <div class="flex-container">
          <label for="khasra-integrated" class="left required">Has the khasra been integrated?</label>
          <div class="radio-buttons right">
            <input type="radio" id="yes" formControlName="khasraIntegrated" [value]="'yes'" (change)="onKhasraIntegratedChange('yes')">
            <label for="yes">Yes</label>
            <input type="radio" id="no" formControlName="khasraIntegrated" [value]="'no'" (change)="onKhasraIntegratedChange('no')">
            <label for="no">No</label>
          </div>
        </div>
        <div *ngIf="applyingForm.get('khasraIntegrated')?.invalid && (applyingForm.get('khasraIntegrated')?.dirty || applyingForm.get('khasraIntegrated')?.touched)" class="error-message">
          <span style="color: red;">This Field is Required.</span>
        </div>
      </div>

      <div *ngIf="showAdditionalForm">
        <div class="form-group">
          <div class="flex-container">
            <label for="integrated-khasra" class="left required">Enter the integrated khasra number received from the revenue department</label>
            <input type="text" id="integrated-khasra" formControlName="integratedKhasraNumber" class="right">
          </div>
          <div *ngIf="applyingForm.get('integratedKhasraNumber')?.invalid && (applyingForm.get('integratedKhasraNumber')?.dirty || applyingForm.get('integratedKhasraNumber')?.touched)" class="error-message">
            <span style="color: red;">This Field is Required.</span>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Include Applicant Data Component -->
  <div *ngIf="showAdditionalForm" class="applicant-data-container">
    <app-applicant-data [applicantFormData]="applicantFormData" (formSubmit)="onApplicantFormSubmit($event)"></app-applicant-data>
  </div>
  

  <div class="form-container">
    <form [formGroup]="applyingForm">
      <span class="bannerISW">Additional Details</span>
      <div class="form-group">
        <div class="container">
          <label class="required">Apply to the Office</label>
          <div class="container">
            <input type="text" id="office" formControlName="office" class="wide-input" [value]="applyingForm.get('office')?.value || ''">
          </div>
        </div>
      </div>
    </form>
  </div>  

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <ng-template #successModal let-modal>
    <div class="modal-dialog modal-dialog-centered top-center-modal" role="document">
      <div class="modal-content custom-modal">
        <div class="modal-header success-modal">
          <h4 class="modal-title" id="successModalLabel">Success!</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body success-modal">
          <p>{{ successMessage }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <ng-template #errorModal let-modal>
    <div class="modal-dialog modal-dialog-centered top-center-modal" role="document">
      <div class="modal-content custom-modal">
        <div class="modal-header error-modal">
          <h4 class="modal-title" id="errorModalLabel">Error!</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body error-modal">
          <p>{{ errorMessage }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- Button Container -->
<!-- <div class="button-container">
  <div class="button-bottom">
    <button type="button" class="btn btn-success mr-2" [disabled]="!applyingForm.valid" (click)="transferFormDataToFormDataComponent()">Submit</button>
    <a class="btn btn-info mr-2" [class.disabled]="!applyingForm.valid" href="/form-data">Preview</a>
    <button type="button" class="btn btn-dark" (click)="onReset()">Reset</button>
    <button type="button" class="btn btn-danger mr-2" (click)="onCancel()">Cancel</button>
  </div>
</div> -->

<div class="button-container">
  <div class="button-bottom">
    <button type="button" class="btn btn-success mr-2" [disabled]="!applyingForm.valid "
      (click)="onSubmit()">Submit</button> 
      <a class="btn btn-info mr-2" [class.disabled]="!applyingForm.valid" href="/attachments">Attachments</a>
      <button type="button" class="btn btn-info mr-2" [disabled]="!applyingForm.valid" (click)="openPreviewModal()">Preview</button>
    <!-- <a class="btn btn-info mr-2" [class.disabled]="!applyingForm.valid" href="/form-data">Preview</a> -->
    <button type="button" class="btn btn-dark" (click)="onReset()">Reset</button>
    <button type="button" class="btn btn-danger mr-2" (click)="onCancel()">Cancel</button>
  </div>
</div>
</div>

<!-- <button type="button" class="btn btn-success" (click)="openSuccessModal()">Open Success Modal</button>
<button type="button" class="btn btn-danger" (click)="openErrorModal()">Open Error Modal</button> -->

<!-- Preview Modal -->
<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="previewModalLabel"><strong>Preview</strong></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-danger container rounded"><p>The Application has not yet been Submitted.</p></div>
        <div *ngIf="formData">
          <!-- Box 1: Integrated Single Window System Approval -->
          <div class="container p-3 rounded">
            <h4><strong>Integrated Single Window System Approval</strong></h4>
            <hr>
            <div class="row">
              <div class="col-7"><strong>In which district is colony development permission sought?</strong></div>
              <div class="col-5">{{ formData.formFieldsData.selectedDistrict }}</div>
            </div>
            <div class="row">
              <div class="col-7"><strong>For which area is permission sought?</strong></div>
              <div class="col-5">{{ formData.formFieldsData.area }}</div>
            </div>
            <div class="row">
              <div class="col-7"><strong>In an urban area, which body should be approached for colony
                development permission?</strong></div>
              <div class="col-5">{{ formData.formFieldsData.body }}</div>
            </div>
            <div class="row">
              <div class="col-7"><strong>Choose the Municipal Corporation</strong></div>
              <div class="col-5">{{ formData.formFieldsData.choosingCorporation }} </div>
            </div>
            <div class="row">
              <div class="col-7"><strong>Choose the Municipal Council</strong></div>
              <div class="col-5">{{ formData.formFieldsData.choosingCouncil }}</div>
            </div>
            <div class="row">
              <div class="col-7"><strong>Choose the Municipal Jury</strong></div>
              <div class="col-5">{{ formData.formFieldsData.choosingJury }}</div>
            </div>
            <div class="row">
              <div class="col-7"><strong>Has the khasra been integrated?</strong></div>
              <div class="col-5">{{ formData.formFieldsData.khasraIntegrated }}</div>
            </div>
            <div class="row">
              <div class="col-7"><strong>Enter the integrated khasra number received from the revenue department</strong></div>
              <div class="col-5">{{ formData.formFieldsData.integratedKhasraNumber }}</div>
            </div>
          </div>
          
          <!-- Box 2: Format for Application for Colony Approval -->
          <div class="container p-3 my-3 rounded">
            <h4><strong>Format for Application for Colony Approval</strong></h4>
            <hr>
            <div class="row">
              <div class="col-7"><strong>1. Applicant's full name</strong></div>
              <div class="col-5">{{ formData.applicantData.fullName }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>2. Colonizer Registration Certificate(Attach a copy in PDF format of the issuing local urban body’s name, serial number, and date as an annexure in the Annexure Section.)</strong></div>
              <!-- <div class="col-5">{{ formData.applicantData.email }}</div> -->
            </div>
            <div class="row">
              <div class="col-7">2.1 Name of the Issuing Local Urban Body</div>
              <div class="col-5">{{ formData.applicantData.LUB }}</div>
            </div>
            <div class="row">
              <div class="col-7">2.2 Serial Number</div>
              <div class="col-5">{{ formData.applicantData.Srno }}</div>
            </div>
            <div class="row">
              <div class="col-7">2.3 Date</div>
              <div class="col-5">{{ formData.applicantData.registrationDate }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>3. Current Address</strong></div>
              <!-- <div class="col-5">{{ formData.applicantData.email }}</div> -->
            </div>
            <div class="row">
              <div class="col-7">3.1 House Number</div>
              <div class="col-5">{{ formData.applicantData.Hno }}</div>
            </div>
            <div class="row">
              <div class="col-7">3.2 Neighbourhood / Colony</div>
              <div class="col-5">{{ formData.applicantData.neighbourhoodColony }}</div>
            </div>
            <div class="row">
              <div class="col-7">3.3 District</div>
              <div class="col-5">{{ formData.applicantData.district }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>4. Details of the land, including survey number, which is intended
                to be developed.</strong></div>
            </div>
            <div class="row">
              <div class="col-7">4.1 Survey Number</div>
              <div class="col-5">{{ formData.applicantData.surveyNumber }}</div>
            </div>
            <div class="row">
              <div class="col-7">4.2 Area of the land</div>
              <div class="col-5">{{ formData.applicantData.area }}</div>
            </div>
            <div class="row">
              <div class="col-7">4.3 Village</div>
              <div class="col-5">{{ formData.applicantData.village }}</div>
            </div>
            <div class="row">
              <div class="col-7">4.4 Neighbourhood / Colony</div>
              <div class="col-5">{{ formData.applicantData.neighbourhoodColony4 }}</div>
            </div>
            <div class="row">
              <div class="col-7">4.5 District</div>
              <div class="col-5">{{ formData.applicantData.district4 }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>5. Has the applicant developed any land before submitting this application form? If yes, please
                provide the details.</strong></div>
            </div>
            <div class="row">
              <div class="col-7">5.1 Name (Developed Land)</div>
              <div class="col-5">{{ formData.applicantData.developedLandName }}</div>
            </div>
            <div class="row">
              <div class="col-7">5.2 Village</div>
              <div class="col-5">{{ formData.applicantData.village5 }}</div>
            </div>
            <div class="row">
              <div class="col-7">5.3 Neighbourhood / Colony</div>
              <div class="col-5">{{ formData.applicantData.neighbourhoodColony5 }}</div>
            </div>
            <div class="row">
              <div class="col-7">5.4 District</div>
              <div class="col-5">{{ formData.applicantData.district5 }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>6. Details of financial resources for the establishment of the colony (mention net worth). Attach in
                PDF format as an annexure in the Annexure Section.</strong></div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>7. Relinquishment of land rights (1. In the case of 'Yes', the land for roads and
                open areas will be relinquished and recorded in the revenue records. 2. In the case of 'No', the land
                diversion fee and premium amount will be payable on the entire ownership of the land.)</strong></div>
                <div class="col-5">{{ formData.applicantData.relinquishment }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>8. For what purpose is the permit being requested?</strong></div>
                <div class="col-5">{{ formData.applicantData.permitPurpose }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>9. Mobile Number</strong></div>
              <div class="col-5">{{ formData.applicantData.mobileNumber }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>10. Email</strong></div>
              <div class="col-5">{{ formData.applicantData.email }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>11. If the applicant is a firm, provide the TIN/GSTN number.</strong></div>
              <div class="col-5">{{ formData.applicantData.tinGstnNumber }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7"><strong>12. Proof of Applicant's Rights, Land or Plot Ownership, including Evidence of Rights: The following
                proofs will be attached:</strong></div>
                <div>
                  <div class="col-7"><label>(a) An attested copy of the original sale deed, lease deed, or any other document under which the
                    rights, claims, and interests in the land or plot are claimed. (Attach as Annexure in PDF format in the
                    Annexure Section)
                  </label></div>
                  <div class="col-7"><label>(b) If there is a will, an attested copy of the mutation and Khasra amalgamation (Attach as Annexure
                    in PDF format in the Annexure Section)
                  </label></div>
                  <div class="col-7"><label>(c) An attested copy of the Khasra map and Khatoni records (Khasra map B-1, P-II) (Attach as Annexure
                    in PDF format in the Annexure Section)
                  </label></div>
                  <div class="col-7">(d) Other documents acceptable to the authority (Attach as Annexure in PDF format in the Annexure
                    Section)</div>
                </div>
            </div>
            <br>
         
              <div><strong>13. The following information will be submitted by me/us...</strong>
                <div class="col-7"><label>(a) Proposed development map (including Khasra superimpose) (Attach as Annexure in the prescribed format in the Annexure Section)</label></div>
                <div class="row">
                <div class="col-7">
                <label class="required">(b) Details of 9% of the land earmarked for transfer to the Economically Weaker Section (EWS):</label>
              </div>
              <div class="col-5">{{ formData.applicantData.EWS }}</div>
              </div>    
          </div>
        
            
            <div class="row">
              <div class="col-7">If the proposed layout is less than one acre</div>
              <div class="col-5">{{ formData.applicantData.EWS_Less }}</div>
            </div>
            <div class="row">
              <div class="col-7"><strong>If the proposed layout is one acre or more</strong></div>
            </div>
            <div class="row">
              <div class="col-7">Outside of Proposed non-residential area</div>
              <div class="col-5">{{ formData.applicantData.outside_res_area }}</div>
            </div>
            <div class="row">
              <div class="col-7">Within a radius of 01 kilometer (in the Gram Panchayat area) or within a radius of 03 kilometers (in the urban local body area) from the proposed non-residential area</div>
              <div class="col-5">{{ formData.applicantData.inside_res_area }}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-7">Collector guideline rate in the proposed residential area</div>
              <div class="col-5">{{ formData.applicantData.CGR_Residential_Area }}</div>
            </div>
            <div class="row">
              <div class="col-7">Collector guideline rate in the proposed land area</div>
              <div class="col-5">{{ formData.applicantData.CGR_Land_Area }}</div>
            </div>
            <div class="row">
              <div class="col-7">Area of EWS land in the proposed residential area</div>
              <div class="col-5">{{ formData.applicantData.EWS_Residential_Area }}</div>
            </div>
            <div class="row">
              <div class="col-7">Area of the proposed EWS land</div>
              <div class="col-5">{{ formData.applicantData.EWS_Land_Area }}</div>
            </div>
            <div class="row">
              <div class="col-7">Total amount as per collector guideline rate in lieu of 9 percent EWS land</div>
              <div class="col-5">{{ formData.applicantData.CGRAmount }}</div>
            </div>
            <br>

            <div class="row">
              <div class="col-7"><strong>14. Clearance from various departments</strong></div>
              <div class="col-5">
                <div *ngIf="formData && formData.filteredClearances">
                  <div *ngFor="let clearanceKey of formData.filteredClearances">
                    {{ clearanceLabels[clearanceKey] }}
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
        <!-- </div> -->
        
        <div class="container p-3 rounded">
            <h4><strong>Additional Details</strong></h4>
            <hr>
            <div class="row" *ngIf="formData && formData.formFieldsData">
              <div class="col-2"><b>Apply to the Office</b></div>
              <div class="col-9">{{ formData.formFieldsData.office }}</div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
