<div class="banner">
  <span>Chhattisgarh Automated Workflow and Approval System</span>
</div>

<div class="container applying-form-container">
  <div class="form-container">
    <form [formGroup]="applyingForm">
      <span class="bannerISW">Integrated Single Window System Approval</span>
      <hr class="dotted-line">

      <div class="form-group">
        <div class="flex-container">
          <label for="district1" class="left required">In which district is colony development permission sought?</label>
          <select id="district1" formControlName="selectedDistrict" class="left" required>
            <option value="" disabled selected>Please Select</option>
            <option *ngFor="let district of districts" [value]="district.toLowerCase()">
              {{ district }}
            </option>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <div class="flex-container">
          <label for="area" class="left required">For which area is permission sought?</label>
          <div class="radio-buttons right">
            <input type="radio" id="rural" formControlName="area" [value]="'rural'">
            <label for="rural">ग्रामीण क्षेत्र (Rural Area)</label>
            <input type="radio" id="urban" formControlName="area" [value]="'urban'">
            <label for="urban">शहरी क्षेत्र (Urban Area)</label>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="applyingForm.get('area')?.value === 'urban'">
        <div class="flex-container">
          <label for="body" class="left required">In an urban area, which body should be approached for colony <br>development permission?</label>
          <div class="radio-buttons right">
            <input type="radio" id="Corporation" formControlName="body" [value]="'Corporation'">
            <label for="Corporation">नगर निगम (Municipal Corporation)</label>
            <input type="radio" id="Council" formControlName="body" [value]="'Council'">
            <label for="Council">नगर पालिका (Municipal Council)</label>
            <input type="radio" id="Jury" formControlName="body" [value]="'Jury'">
            <label for="Jury">नगर पंचायत (Municipal Jury)</label>
          </div>
        </div>
      </div>

      <!-- Dynamic options based on selected district and body -->
      <ng-container *ngIf="applyingForm.get('selectedDistrict')?.value && applyingForm.get('area')?.value === 'urban'">
        <div *ngIf="applyingForm.get('body')?.enabled">
          <!-- Bilaspur options -->
          <div *ngIf="applyingForm.get('selectedDistrict')?.value === 'bilaspur'">
            <div *ngIf="applyingForm.get('body')?.value === 'Corporation'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCorporation" class="left">Choose the <b>Municipal Corporation</b></label>
                  <select id="choosingCorporation" formControlName="choosingCorporation" class="left" name="forBilaspur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Bilaspur">Bilaspur</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Council'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCouncil" class="left">Choose the <b>Municipal Council</b></label>
                  <select id="choosingCouncil" formControlName="choosingCouncil" class="left" name="forBilaspur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Ratanpur">Ratanpur</option>
                    <option value="Takhatpur">Takhatpur</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Jury'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingJury" class="left">Choose the <b>Municipal Jury</b></label>
                  <select id="choosingJury" formControlName="choosingJury" class="left" name="forBilaspur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Bilha">Bilha</option>
                    <option value="Bodri">Bodri</option>
                    <option value="Gaurella">Gaurella</option>
                    <option value="Kota">Kota</option>
                    <option value="Malhar">Malhar</option>
                    <option value="Pendra">Pendra</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Durg options -->
          <div *ngIf="applyingForm.get('selectedDistrict')?.value === 'durg'">
            <div *ngIf="applyingForm.get('body')?.value === 'Corporation'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCorporation" class="left">Choose the <b>Municipal Corporation</b></label>
                  <select id="choosingCorporation" formControlName="choosingCorporation" class="left" name="forDurg">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Bhilai">Bhilai</option>
                    <option value="Bhilai Charoda">Bhilai Charoda</option>
                    <option value="Durg">Durg</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Council'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCouncil" class="left">Choose the <b>Municipal Council</b></label>
                  <select id="choosingCouncil" formControlName="choosingCouncil" class="left" name="forDurg">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Ahiwara">Ahiwara</option>
                    <option value="Jamul">Jamul</option>
                    <option value="Kumhari">Kumhari</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Jury'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingJury" class="left">Choose the <b>Municipal Jury</b></label>
                  <select id="choosingJury" formControlName="choosingJury" class="left" name="forDurg">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Dhamdha">Dhamdha</option>
                    <option value="Patan">Patan</option>
                    <option value="Utai">Utai</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Raipur options -->
          <div *ngIf="applyingForm.get('selectedDistrict')?.value === 'raipur'">
            <div *ngIf="applyingForm.get('body')?.value === 'Corporation'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCorporation" class="left">Choose the <b>Municipal Corporation</b></label>
                  <select id="choosingCorporation" formControlName="choosingCorporation" class="left" name="forRaipur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Birgaon">Birgaon</option>
                    <option value="Raipur">Raipur</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Council'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingCouncil" class="left">Choose the <b>Municipal Council</b></label>
                  <select id="choosingCouncil" formControlName="choosingCouncil" class="left" name="forRaipur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Arang">Arang</option>
                    <option value="Gobra Nawapara">Gobra Nawapara</option>
                    <option value="Tilda Newra">Tilda Newra</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="applyingForm.get('body')?.value === 'Jury'">
              <div class="form-group">
                <div class="flex-container">
                  <label for="choosingJury" class="left">Choose the <b>Municipal Jury</b></label>
                  <select id="choosingJury" formControlName="choosingJury" class="left" name="forRaipur">
                    <option value="" disabled selected>Please Select</option>
                    <option value="Abhanpur">Abhanpur</option>
                    <option value="Kharora">Kharora</option>
                    <option value="Kurra">Kurra</option>
                    <option value="Mana Camp">Mana Camp</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      

      <div class="form-group">
        <p class="left required"><b>Note - If the khasra is not integrated, please get it integrated from the revenue department before applying for colony approval.</b></p>
      </div>

      <div class="form-group">
        <div class="flex-container">
          <label for="khasra-integrated" class="left required">Has the khasra been integrated?</label>
          <div class="radio-buttons right">
            <input type="radio" id="yes" formControlName="khasraIntegrated" [value]="'yes'" (change)="onKhasraIntegratedChange('yes')">
            <label for="yes">Yes</label>
            <input type="radio" id="no" formControlName="khasraIntegrated" [value]="'no'" (change)="onKhasraIntegratedChange('no')">
            <label for="no">No</label>
          </div>
        </div>
      </div>

      <div *ngIf="showAdditionalForm">
        <div class="form-group">
          <div class="flex-container">
            <label for="integrated-khasra" class="left required">Enter the integrated khasra number received from the revenue department</label>
            <input type="text" id="integrated-khasra" formControlName="integratedKhasraNumber" class="right">
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Include Applicant Data Component -->
  <div *ngIf="showAdditionalForm" class="applicant-data-container">
    <app-applicant-data [applicantFormData]="applicantFormData" (formSubmit)="onApplicantFormSubmit($event)"></app-applicant-data>
  </div>
  

  <div class="form-container">
    <form [formGroup]="applyingForm">
      <span class="bannerISW">Additional Details</span>
      <div class="form-group">
        <div class="container">
          <label class="required">Apply to the Office</label>
          <div class="container">
            <input type="text" id="office" formControlName="office" class="wide-input" [value]="applyingForm.get('office')?.value || ''">
          </div>
        </div>
      </div>
    </form>
  </div>  

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <ng-template #successModal let-modal>
    <div class="modal-dialog modal-dialog-centered top-center-modal" role="document">
      <div class="modal-content custom-modal">
        <div class="modal-header success-modal">
          <h4 class="modal-title" id="successModalLabel">Success!</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body success-modal">
          <p>{{ successMessage }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <ng-template #errorModal let-modal>
    <div class="modal-dialog modal-dialog-centered top-center-modal" role="document">
      <div class="modal-content custom-modal">
        <div class="modal-header error-modal">
          <h4 class="modal-title" id="errorModalLabel">Error!</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body error-modal">
          <p>{{ errorMessage }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

 <!-- Button Container -->
<div class="button-container">
  <div class="button-bottom">
    <button type="button" class="btn btn-warning mr-2"  [disabled]="!isKhasraIntegrated" (click)="saveDraft()">Save Draft</button>
    <button type="button" class="btn btn-success mr-2" [disabled]="!isKhasraIntegrated" (click)="onSubmit()">Submit</button>
    <a class="btn btn-info mr-2" [class.disabled]="!isKhasraIntegrated" href="/attachments">Attachments</a>
    <button type="button" class="btn btn-dark" (click)="onReset()">Reset</button>
    <button type="button" class="btn btn-danger mr-2" (click)="onCancel()">Cancel</button>
  </div>
</div>

<!-- <button type="button" class="btn btn-success" (click)="openSuccessModal()">Open Success Modal</button>
<button type="button" class="btn btn-danger" (click)="openErrorModal()">Open Error Modal</button> -->