<div class="container mt-5">
    <p>Registration is only for the Applicants.</p>
    <form (ngSubmit)="signupUser()" [formGroup]="signupForm">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username">
        <div *ngIf="signupForm.get('username')?.errors && signupForm.get('username')?.touched">
            <div *ngIf="signupForm.get('username')?.errors?.['required']">Username is required.</div>
            <div *ngIf="signupForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long.</div>
            <div *ngIf="signupForm.get('username')?.errors?.['maxlength']">Username cannot be more than 20 characters long.</div>
        </div>

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="signupForm.get('email')?.errors && signupForm.get('email')?.touched">
            <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format.</div>
        </div>

        <!-- Add Phone Number field -->
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber">
        <div *ngIf="signupForm.get('phoneNumber')?.errors && signupForm.get('phoneNumber')?.touched">
            <div *ngIf="signupForm.get('phoneNumber')?.errors?.['required']">Phone Number is required.</div>
            <!-- Add additional validation rules for Phone Number -->
            <!-- Example: You can add a custom validation pattern for a 10-digit phone number -->
            <div *ngIf="signupForm.get('phoneNumber')?.errors?.['pattern']">Invalid phone number format. Please enter a 10-digit phone number.</div>
        </div>

        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="signupForm.get('password')?.errors && signupForm.get('password')?.touched">
            <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
        </div>

        <!-- Add hidden input field for type -->
        <input type="hidden" id="type" formControlName="type" value="applicant">

        <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>

        <!-- Display success message if signup was successful -->
        <div *ngIf="signupSuccess">Signup successful!</div>
    </form>

</div>